PORT=3000
BASE_URL=http://localhost:3000
VF_URL=http://localhost:3001
OTP_URL=http://localhost:3002
OTP_KEY=
MONGO_URI=mongodb://localhost/tixrt
SALT=10
JWT_SECRET=6cb99c594a5931032817a477400fb49740b7410fee985befd8da2ee1debfc9ad
JWT_EXPIRY=7d